<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wallet">
            <h2><span jhiTranslate="tmeApp.wallet.detail.title">Wallet</span> {{wallet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tmeApp.wallet.description">Description</span></dt>
                <dd>
                    <span>{{wallet.description}}</span>
                </dd>
                <dt><span jhiTranslate="tmeApp.wallet.walletType">Wallet Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'tmeApp.WalletType.' + wallet.walletType}}">{{wallet.walletType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wallet', wallet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
