<div class="row">
    <div class="col-md-9">
        <div [ngSwitch]="isAuthenticated()">
            <h1 class="display-6" *ngSwitchCase="false" jhiTranslate="home.title">Welcome to, Tracking My Expenses!</h1>

            <div class="" *ngSwitchCase="true">
                <button id="jh-create-entity" class="btn btn-primary float-left" [routerLink]="['/wallet']">
                    <span class="wallet-img"></span>
                    <br>
                    <span class="display-5" jhiTranslate="tmeApp.wallet.home.title">Wallets</span>
                </button>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">Please </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
    </div>
</div>
